.historyContainer {
  min-height: 250px;
}

.historyLabel {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.clearAll {
  cursor: pointer;
}

.paginationWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
